/* Import Roboto font from Google Fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
    --ltblue: #cbe6fc;
    --ltblue2: #b8dbe9;
    --medblue: #1386b6;
    --medblue2: #09567d;
    --dkblue:  #022b45;
    --ltgreen: #bbe3d3;
    --medgreen: #1ca06c;
    --dkgreen: #14704c;
    --bluegreen: #24b8c3;
    --yellow: #fafccb;
    --ltyellow: #fefef5;

    --fixedheight: 60px;
}


body {
background: var(--bg);
color: var(--fontColor);
font-family: 'Roboto',Arial, sans-serif;
}

.center {
    display: block;
    margin: auto;
    width: 80%;
}

li {
    list-style: circle;
}
  
.list {
list-style: square;
}

.light-theme {
--bg: var(--green);
--fontColor: var(--black);
}

.dark-theme {
--bg: var(--black);
--fontColor: var(--green);
}

.weather-theme{
--bg: var(--ltyellow);
--bg2: var(--ltblue2)
--fontColor: var(--dkblue);    
}

.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - var(--fixedheight) - 24px); /* 100% of viewport height */
}

.left-side {
    flex: 0 0 35%; /* 35% width */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: var(--ltyellow); /* Just for visualization */

}

.right-side {
    flex: 1; /* Takes remaining space */
    background-color: var(--ltblue2); /* Just for visualization */
    padding: 10px 30px; /* Optional: Add some padding */
}

.vertical-line {
    width: 10px;
    background-color: var(--dkblue); /* Color of the line */
}



form {
    padding: 5px 20px;
    width: 75%; /* Fixed width */
}

.form-group {
    margin-bottom: 15px; /* Space between form fields */
}

label {
    display: block; /* Ensures the label is on its own line */
    margin-bottom: 5px; /* Small space between label and input field */
    color: var(--dkblue);
    font-size: 0.8rem; /* Smaller font size for labels */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Makes input fields take up the full container width */
    padding: 8px;
    border: none; /* Removes all borders */
    border-bottom: 2px solid var(--dkblue); /* Only bottom border */
    background-color: var(--ltblue2); /* Ensures no background color */
    outline: none; /* Removes the outline on focus */
    color: var(--dkblue);
    font-size: 1.2rem; /* Adjusts font size of input text */
}

/* Styling placeholders */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
    color: var(--medblue); /* Light grey color for placeholder */
    font-size: 1.2rem; /* Adjusts font size of placeholder */
    font-style: italic;

}

button {
    width: 40%; 
    padding: 10px;
    background-color: var(--dkgreen); /* Blue background */
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: var(--dkblue);
    border-radius: 15px;
    cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
    background-color: var(--bluegreen); /* Darker blue on hover */
}


.top-banner {
    width: 100%;
    height: var(--fixedheight); /* Set the height as needed */
    background-color: var(--dkblue); /* Example background color */
    color: var(--ltgreen);
    box-sizing: border-box; /* Include padding in width calculation */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-banner .logo {
    font-size: 24px;
    margin-left: 20px;
    color: var(--ltgreen);
    text-decoration: none;
}

.top-banner nav a {
    text-decoration: none;
    color: var(--ltgreen);
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button.login {
    background-color: transparent; /* Slightly less emphasis on login */
}

.button.signup {
    background-color: var(--dkgreen); /* More emphasis on signup */
}

.top-banner nav a:hover {
    background-color: #555; /* Hover effect for all buttons */
}
